<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PokéCollect</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
</head>
<body>

    <%- include('navbar') %>

    <main>
            <div class="welcome-box">
                <div class="container">
                    <div class="greeting">
                        <h1>Welcome to the PokéCollect website!</h1>
                        <h2>Join as a free member today to start your own collections... Gotta catch em all!</h2>
                    </div>
                    <div class="buttons">
                        <a href="login" class="btn btn-lg btn-dark">Login</a>
                        <a href="register" class="btn btn-lg btn-dark">Register</a>
                    </div>
                    <div class="purpose">
                        <p>Placeholder text... Talk about making collections and wishlists, being able to view all cards and expansions etc</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container">
                <h1>Pokémon Fun Facts!</h1>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="card">
                            <img src="https://www.beano.com/wp-content/uploads/2021/03/15-13.png?w=977&strip=all&quality=85" class="card-img-top" alt="Ash with Pikachu">
                            <div class="card-body">
                                <h5 class="card-title">Pokémon was created by a video game designer called Satoshi Tajiri in 1995</h5>
                                <p class="card-text">He first thought of the idea way back in 1990. He was inspired by the fact 
                                    that Gameboys could communicate, and began dreaming up a game that would link two Gameboys.
                                    At first, no body really understood Satoshi's Pokémon idea, and the company struggled 
                                    trying to produce it. Satoshi didn't even take a salary during this time, but eventually
                                    the game was released and became a huge success!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="https://img.redbull.com/images/c_fill,g_auto,w_2100,h_1399/q_auto:low,f_auto/redbullcom/2017/09/13/f5abb4bc-79a4-4d8a-9f99-d094ed7eb4ab/rhydon-in-early-concept-designs.jpg" class="card-img-top" alt="Sketch of pokemon">
                            <div class="card-body">
                                <h5 class="card-title">The first Pokémon ever designed</h5>
                                <p class="card-text">It may be entry #112 in the Pokédex, but according to Ken Sugimori – 
                                    the primary designer for the Pokémon games – Rhydon was the first Pokémon ever created.  
                                    In that same interview, Sugimori mentions Lapras and Clefairy as some of the other earliest 
                                    Pokémon designs to join Rhydon.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img src="https://www.beano.com/wp-content/uploads/2021/03/37-1.png?w=977&strip=all&quality=85" class="card-img-top" alt="charmander">
                            <div class="card-body">
                                <h5 class="card-title">Some of the rarest Pokémon cards are worth over $100,000!</h5>
                                <p class="card-text">Rare Pokémon cards include No. 1 trainer, which sold in 2020 for $90,000! 
                                    Apparently there are only a handful in existence, meaning that its potentially the rarest 
                                    Pokémon card ever! Other rare cards include a 1999 Charizard, a 24 carat gold Pikachu card,
                                    and a Blastoise card. Do you own any rare cards? Check here on PokéCollect, they could 
                                    be worth a lot!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </main>
    
    
    <%- include('footer') %>
    
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>