body{
    background-color: #EEEEEE;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    padding: 0px;
    background-color: white;
}

.container-fluid{
    padding: 15px;
}

.navbar-brand img{
    width: 30px;
    height: 30px;
}

.navbar-brand strong{
    font-size: 24px;
}

.welcome-box {
    margin: auto;
    text-align: center;
}

.greeting h1{
    font-size: 3.5rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.greeting h2{
    padding: 20px;
}

.buttons {
    margin-bottom: 30px;
}

.purpose{
    font-size: 1.2rem;
}

.container h1{
    text-align: center;
}

.dashboard-heading h1{
    padding: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-align: center;
}
.dashboard-heading h4{
    margin-left: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.value-buttons-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card{
    margin-bottom: 1.5rem;
}

.card-page h1{
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    margin-bottom: 30px;
}
.filter-buttons{
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.filter-buttons p{
    font-size: 30px;
}

.detail-header{
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

.login-header h1{
    text-decoration: underline;
}
.login-header{
    margin-top: 15px;
    text-align: center;
}

.login-details {
    padding: 30px;
}

.login-details button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-heading{
    margin-top: 15px;
    text-align: center;
}

.register-details{
    padding: 30px;
}

.register-details button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.update-header{
    margin-top: 15px;
    text-align: center;
}

.delete-header{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
}

.confirm-delete{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.expansion-heading{
    text-align: center;
    text-decoration: underline;
    margin-bottom: 70px;
}

.expansion-list{
    text-align: center;
    list-style-type: none;
}

.user-collection h1{
    text-align: center;
    padding: 50px;
    text-decoration: underline;
}

.collection-buttons{
    text-align: center;
    margin-top: 10px;
}

.col-sm-4 {
    padding: 30px;
    margin-top: 15px;
}

.card-body{
    text-align: center;
}

.error-page .container{
    padding-top: 50px;
    text-align: center;
}

.error-page img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}