body{
    background-color: #EEEEEE !important;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar{
    background-color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-fluid{
    padding: 15px;
}

.navbar-brand img{
    width: 30px;
    height: 30px;
}

.nav-item a{
    color: black;
}

.nav-item a:hover{
    color: darkred;
}

.btn-dark:hover{
    background-color: darkred;
}

.navbar-brand strong{
    font-size: 24px;
}

.welcome-box {
    margin: auto;
    text-align: center;
    padding: 30px;
}

.greeting h1{
    font-size: 60px;
    margin-bottom: 40px;
    text-decoration: underline;
    text-shadow: 2px 2px;
}

.greeting h4{
    line-height: 1.6;
}

.home-buttons{
    margin-top: 50px;
    margin-bottom: 50px;
}

.home-buttons a:hover{
    background-color: darkred;
}

.purpose{
    font-size: 1.2rem;
    line-height: 1.6;
}

.facts-header{
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-heading h1{
    padding: 20px;
    margin-bottom: 30px;
    text-decoration: underline;
    text-align: center;
}
.dashboard-heading h4{
    margin-left: 20px;
    text-align: center;
    margin-bottom: 40px;
}

.dashboard-options .btn:hover {
    background-color: darkred;
}

.value-buttons-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.value-buttons-container button:hover{
    background-color: darkred;
}

.card{
    margin-bottom: 1.5rem;
}

.card-page h1{
    text-align: center;
    text-decoration: underline;
    padding: 20px;
    margin-bottom: 30px;
}

.card-info{
    text-align: center;
    padding: 15px;
    margin-right: 10px;
    line-height: 1.6;
}

.card-image-api img{
    height: 850px;
    width: auto;
    margin-left: 100px;
}

.collection-wishlist{
    display: flex;
    justify-content: space-between;
}

.collection-wishlist button {
    margin-right: 20px; 
}

.collection-wishlist button:hover{
    background-color: darkred;
}

.filter-buttons{
    text-align: center;
    padding: 20px;
    margin-bottom: 40px;
}

.filter-buttons a:hover{
    background-color: darkred;
}

.filter-buttons p{
    font-size: 30px;
}

.detail-header{
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

.login-header h1{
    text-decoration: underline;
}
.login-header{
    margin-top: 15px;
    text-align: center;
}

.login-details {
    padding: 20px;
}

.login-button button{
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 20px;
}

.login-button button:hover{
    background-color: darkred;
}

.login-button a:hover{
    color: darkred;
}

.register-heading{
    margin-top: 15px;
    text-align: center;
}

.register-details{
    padding: 30px;
}

.register-details button{
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-details button:hover{
    background-color: darkred;
}

.register-details a:hover{
    color: darkred;
}

.update-header{
    padding: 30px;
    text-align: center;
    text-decoration: underline;
}

.user-details button:hover{
    background-color: darkred;
}

.delete-header{
    margin-top: 15px;
    margin-bottom: 30px;
    text-align: center;
    text-decoration: underline;
}

.confirm-delete{
    text-align: center;
    font-size: 20px;
    padding: 20px;
}

.expansion-heading{
    text-align: center;
    text-decoration: underline;
    padding: 30px;
}

.card-title a{
    color: darkred;
}

.user-collection h1{
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

.collection-buttons{
    text-align: center;
    margin-top: 10px;
}

.collection-buttons a:hover{
    background-color: darkred;
}

.col-sm-4 {
    padding: 30px;
    margin-top: 15px;
}

.card-body{
    text-align: center;
}

.error-page .container{
    padding-top: 50px;
    text-align: center;
}

.error-page img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.back{
    padding: 10px;
    text-align: center;
}

.back a:hover{
    background-color: darkred;
}

.add-collection{
    padding: 10px;
}

.add-collection button:hover{
    background-color: darkred;
}

.add-collection a:hover{
    background-color: darkred;
}

.user-wishlist h1{
    text-align: center;
    text-decoration: underline;
    padding: 30px;
    margin-bottom: 20px;
}

.wishlist-button {
    text-align: center;
}

.wishlist-button a:hover{
    background-color: darkred;
}

.collection-rating-container{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.collection-rating{
    display: flex;
    align-items: center;
    cursor: default; 
}

.collection-rating button{
    margin-right: 6px;
    cursor: pointer;
    color: grey;
    color: darkred
}