body{
    background-color: whitesmoke;
}

.navbar{
    padding: 0px;
}

.container-fluid{
    background-color: white;
    display: flex;
    padding: 15px;
}

.welcome-box {
    margin: auto;
    text-align: center;
}

.greeting h1{
    font-size: 3.5rem;
    margin-top: 40px;
    margin-bottom: 20px;
}

.greeting h2{
    padding: 20px;
}

.buttons {
    margin-bottom: 30px;
}

.purpose{
    font-size: 1.2rem;
}

.container h1{
    text-align: center;
}

.dashboard-heading{
    padding: 20px;
    text-decoration: underline;
}

.dashboard-options{
    padding: 15px;
}

.value-buttons-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.card-page h1{
    text-align: center;
}


